.App {
  text-align: center;
  /* background-color: #282c34; */
}



html,
body,
#app,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


html,
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  background: #222;
  color: #fff;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #ccc;
  font-size: 2em;
}

.icon {
  margin: 0 0.5em;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.3);
}

.icon-resume {
  margin: 1em;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.icon-resume:hover {
  transform: scale(1.3);
}

.navbar {
  /* border-bottom: solid 2px linear-gradient(#fff, #bbb); */
  box-shadow: 0px 5px 2px -2px rgba(0,0,0,.2) !important;
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 !important;
  align-items: center;
  background-image: linear-gradient(#fff, #ddd); 
  height: 50px;
}

.link {
  color: #bbb;
  cursor: pointer;
  transition: color 0.8s;
  margin: 0 1em;
}

.link.active {
  transform: scale(1.2);
  color: #000;
}

.footer {
  display: flex;
  justify-content: center;
  border-radius: 0 !important;
  align-items: center;
  background-image: linear-gradient(#fff, #bbb); 
  height: 60px;
}

.title{
  opacity: 0;
  transition: opacity 0.8s;
}

.title.is-visible{
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.suggestion {
  opacity: 0;
  transition: opacity 1.1s;
}

.suggestion.is-visible {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.section-1 {
    height: 70vh;
    min-height: 80%;
    background: linear-gradient(135deg, rgb(96, 108, 136) 0%, rgb(63, 76, 107) 100%);
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* width: 100%; */
  /* padding-top: 50px; */
  /* height: 90vh; */
}

.presentation {
  /* padding-top: 100px; */
  flex-basis: 100%;
}
.section-1-media-links {
  flex-basis: 100%;
  z-index: 2;
}

.section-2 {
    /* display: 'flex';
    justify-content: center;
    align-items: center; */
    /* height: 70vh; */
    /* min-height: 100%; */
    flex-grow: 1;
    background-color: #282c34;
    padding: 0 80px;
}

.section-3 {
    height: 60vh;
    background-image: linear-gradient(#000, #111); 
    padding: 20px 30px;
}


.flex-container{
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box-1 {
  flex: 1;
  margin: 20px 0;
}
.profile-photo {
  border-radius: 60%;
  height: 220px;
}

.box-2 {
  display: flex;
  min-height: 20vh;
  flex: 3;
  flex-wrap: wrap;
}

.recommendation {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
  margin: 2em 1em;
  width: 25%;
  transition: all 0.2s ease-in;
}

.recommendation:hover {
  /* color: #999; */
  transform: scale(1.05);
}

.box-3 {
  text-decoration: none !important;
  width: 100%;
}

.inner-container {
  display: flex;
  flex:2;
  align-items: center;
  opacity: 0;
}

.inner-container.seq-1 {
  transition: opacity 0.5s ease-in;
}
.inner-container.seq-2 {
  transition: opacity 0.7s ease-in;
}

.inner-container.seq-3 {
  transition: opacity 0.9s ease-in;
}

.inner-container.seq-4 {
  transition: opacity 1.1s ease-in;
}

.inner-container.seq-5 {
  transition: opacity 1.3s ease-in;
}
.inner-container.seq-6 {
  transition: opacity 1.5s ease-in;
}

.inner-container.animate {
  opacity: 1;
}

.inner-box-skill {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  font-size: 20px;
  width: 60px;
  flex:2;
}

.inner-box-progress-bar {
  flex: 6;
  display: flex;
}

.resume-download {
  text-decoration: inherit;
  min-height: 4em;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.resume-text {
  font-size: 18px;
}


/* Mobile */
@media (max-width: 800px) {
  .resume-download {
    min-height: 4em;
  }

  .resume-text {
    font-size: 15px;
  }

  .recommendation {
    font-size: 12px;
    text-align: left;
    margin: 1.5em 1em;
    width: 100%
  }

  .title {
      font-size:30px;
  }
  .suggestion {
    font-size:20px;
  }
  .navbar {
    justify-content: center;
    padding-left: 0px;
  }
  .flex-container{
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .box-1 {
    width: 100%;
    order: 2;
  }

  .profile-photo {
    border-radius: 60%;
    height: 150px;
  }

  .box-2 {
    /* flex:8; */
    width: 100%;
    order: 1;
    /* min-height: 30vh; */
  }

  .box-3 {
    flex:1;
    width: 80%;
    order: 3;
    /* min-height: 0vh; */
  }


  .section-3 {
    height: auto;
    padding-top: 20px;
  }

  .inner-container {
    max-height: 50px;
  }
  

  .inner-box-skill {
    font-size: 15px;
    flex:1;
  }
  
  .inner-box-progress-bar {
    display: flex;
    flex: 3;
  }
}


