.App {
  text-align: center;
  /* background-color: #282c34; */
}



html,
body,
#app,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .title {
      font-size:30px;
  }
  .suggestion {
    font-size:20px;
  }
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background: #222;
  color: #fff;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #ccc;
  font-size: 2em;
}

.icon {
  margin: 0 0.5em;
  /* line-height: 40px; */
  float: 'right';
  margin-top: 5px;
  /* vertical-align: middle; */
}

.navbar {
  background-image: "linear-gradient(#fff, #bbb)"; 
  height: '60px';
  line-height: '60px';
}

.title{
  opacity: 0;
  transition: opacity 0.8s;
}

.title.is-visible{
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.suggestion {
  opacity: 0;
  transition: opacity 1.1s;
}

.suggestion.is-visible {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.flex-container{
  padding-top: 50px;
  width: 80%;
  /* min-height: 200px; */
  margin: 0 auto;
  display: -webkit-flex;   
  display: flex;
}

.inner-flex-container {
  width: 100%;
  display: -webkit-flex;   
  display: flex;
}



