.App {
  text-align: center;
  /* background-color: #282c34; */
}

html,
body,
#app,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background: #222;
  color: #fff;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #ccc;
  font-size: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animate the homepage title and subtitle */
.title {
  margin: 0 0 0 -250px;
  transition: margin 1.1s;
  transition: color 2s, margin 1.1s;
  color: rgba(0, 0, 0, 0);
}

.title.shown {
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.subTitle {
  margin: 0 0 0 -500px;
  transition: color 1.9s, margin 1.9s;
  color: rgba(0, 0, 0, 0);
}

.subTitle.shown {
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.suggestion {
  margin: 0 0 -1000px 0;
  color: rgba(0, 0, 0, 0);
  transition: color 1.6s, margin 1.6s;
}

.suggestion.shown {
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

#stocks-table .ag-row {
  cursor: pointer;
  background-color: #fff;
}

.ag-cell:focus{
  border:none !important;
  outline: none;
}

.ag-cell{
  border:none !important;
  outline: none;
}

#stocks-table .ag-row:hover{
  transition: color 0.3s, background-color 0.3s;
  background-color: #222;
  color: white
}
